<div class="flex-grow-1 vw-95 d-flex flex-column align-items-center">
    <h1 class="d-none d-lg-flex display-1 font-weight-normal text-center">404</h1>
    <h1 class="d-md-flex d-lg-none font-weight-normal text-center">404</h1>
    <h2 class="d-none d-lg-flex text-secondary font-weight-light mb-4 text-center">Page Not Found
    </h2>
    <h4 class="d-md-flex d-lg-none text-secondary font-weight-light mb-4 text-center">Page Not Found</h4>
    <button routerLink="/" type="button" class="btn btn-dark btn-sm">Go to Home Page</button>
</div>