@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: local(''), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-100.woff2') format('woff2'), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-100.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-regular.woff2') format('woff2'), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-700.woff2') format('woff2'), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-700.woff') format('woff');
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FBF9F6;
}

.vw-95 {
    width: 95vw;
}