@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: local(''), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-100.woff2') format('woff2'), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-100.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-regular.woff2') format('woff2'), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-700.woff2') format('woff2'), url('assets/fonts/poppins-v15-latin/poppins-v15-latin-700.woff') format('woff');
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FBF9F6;
}

.vw-95 {
    width: 95vw;
}

.vh-80 {
    height: 80vw;
}

.app-bg-light-green {
    background-color: #E4FFF4;
    color: #1FD489;
    border-color: #1FD489;
}

.app-bg-green {
    background-color: #1FD489;
    color: white;
}

.app-bg-light-blue {
    background-color: #F2FAFF;
    color: #01B2FF;
    border-color: #01B2FF;
}

.app-bg-blue {
    background-color: #01B2FF;
    color: white;
}

.app-bg-light-purple {
    background-color: #F6F1FC;
    color: #570FB2;
    border-color: #570FB2;
}

.app-bg-purple {
    background-color: #570FB2;
    color: white;
}

.app-bg-light-yellow {
    background-color: #FFF8DC;
    color: #FFC700;
    border-color: #FFC700;
}

.app-bg-yellow {
    background-color: #FFC700;
    color: white;
}

.app-bg-light-red {
    background-color: #FFEFF3;
    color: #F1416C;
    border-color: #F1416C;
}

.app-bg-red {
    background-color: #F1416C;
    color: white;
}

.app-bg-light-grey {
    background-color: #EFF2F5;
    color: #181D32;
    border-color: #181D32;
}

.app-bg-grey {
    background-color: #181D32;
    color: white;
}