<div class="d-flex flex-column align-items-center">
    <app-title title="Login" subtitle="Login to take a quiz"></app-title>
    <form class="d-flex flex-column align-items-center mt-3">
        <div class="form-group d-flex flex-column  align-items-center">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control login-input" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group d-flex flex-column  align-items-center">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control login-input" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
    </form>
</div>